<div class="row" id="jumbotron" >
  <div class="jumbotron jumbotron-fluid" >
    <div class="container pad" >
      <div>
        <h1 class="display-4 mt-3 ml-0">Srishti</h1>
        
        <p class="lead mt-0">"Don't let your dream home be just a dream."</p>
      </div>
    </div>
  </div>
</div>
<div class="row" id="about">
  <div class="container">
    <h2 class="mt-4">About Us</h2>
    <p>A home is the product of years of planning and hard work. It is where relationships are nurtured and aspirations are fulfilled. We remember this in every step we take. Relationships are cherished with great care and commitment. While doing so, we capture your trust. This trust is the Keystone of our business.</p>
    <%= link_to 'Know more about us'%>
  </div>
</div>
<div class="row" id="pro">
<%= javascript_pack_tag 'cards' %>
<%= render 'pages/cards'%>

</div>